<div class="jumbtron">

        <h1 class="displa-4- text-center">Tarjetas de Credito</h1>

        <hr>

        <div class="row">
            <div class="col-md-5">
                <h6 class="text-center">
                  Agregar Tarjeta  
                </h6>
                <app-tarjeta-credito></app-tarjeta-credito>
            </div>
        
            <div class="col-md-7">
                <h6 class="text-center">
                    Listar Tarjetas
                </h6>
            <app-listtarjeta-credito></app-listtarjeta-credito>
            </div>
        </div>

</div>